@font-face {
    font-family: 'Poppins';
    src: url('../font/Poppins-ExtraLight.eot');
    src: url('..?font/Poppins-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('../font/Poppins-ExtraLight.woff2') format('woff2'),
        url('../font/Poppins-ExtraLight.woff') format('woff'),
        url('../font/Poppins-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PlayFair';
    src: url('../font/PlayfairDisplay-Regular.eot');
    src: url('../font/PlayfairDisplay-Regular.eot?#iefix') format('embedded-opentype'),
        url('../font/PlayfairDisplay-Regular.woff2') format('woff2'),
        url('../font/PlayfairDisplay-Regular.woff') format('woff'),
        url('../font/PlayfairDisplay-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

